---
import employees from "@data/employees.json";
import DynamicImage from "@components/helpers/DynamicImage.astro";
import Facebook from "@icons/facebook.svg";
import Instagram from "@icons/instagram.svg";

const { employeeId } = Astro.props;
const employee = employees.find((e) => e.id === Number(employeeId));
---

<a href=`teamsingle/${employee?.slug}`>
  <div class="cardWrapper">
    <div class="card">
      <div class="imgContainer">
        <div class="Image">
          {
            employee && (
              <DynamicImage
                imagePath={employee.img}
                altText={employee.name}
                width={400}
                height={400}
              />
            )
          }
        </div>
        <p class="jobTitle large">{employee?.title}</p>
      </div>
      <div class="text">
        <h3>{employee?.name}</h3>
        <p class="jobTitle small">{employee?.title}</p>
        <p>
          {employee?.description}
        </p>
        <div class="icons">
          <Instagram width={32} height={32} class="my-icon" />
          <Facebook width={32} height={32} class="my-icon" />
        </div>
      </div>
    </div>
  </div>
</a>

<style>
  @layer components {
    a {
      color: inherit;
      text-decoration: none;
    }
    .cardWrapper {
      container-type: inline-size;
      border-radius: 25px;
      &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }
    }
    @container (width < 500px) {
      .card {
        .imgContainer {
          display: grid;

          .Image {
            grid-row: 1;
            grid-column: 1;
            border-radius: 25px;
            overflow: clip;
          }
          .jobTitle {
            background-color: var(--color-ui-primary);
            color: var(--color-on-ui-primary);
            padding: 0.2rem 1.2rem;
            border-radius: 25px;
            text-align: center;
            grid-row: 1;
            grid-column: 1;
            align-self: end;
            justify-self: end;
            margin: 15px;
          }
        }
        .text {
          .small {
            display: none;
          }
          padding: 20px;
          text-align: center;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          h3 {
            font-size: x-large;
          }
          p {
            color: var(--color-neutrals-700);
          }
          .icons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1rem;
          }
        }
      }
    }
    @container (width > 500px) {
      .card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 25px;
        .imgContainer {
          .large {
            display: none;
          }
          .Image {
            border-radius: 25px;
            overflow: clip;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 13px;
          h3 {
            font-size: 36px;
          }
          .jobTitle {
            font-size: 20px;
          }
          p + p {
            color: var(--color-neutrals-700);
          }
          .icons {
            display: none;
          }
        }
      }
    }
  }
</style>
