---
//@ts-nocheck
import DynamicImage from "@components/helpers/DynamicImage.astro";
import caseStudy from "@data/caseStudy.json";
const { caseName, category, date, image, buttonLabel } = caseStudy.caseDetails;
import Button from "@components/Button.astro";
---

<article>
  <header>
    <div class="hero-img">
      <DynamicImage imagePath={image} altText={caseName} class="img-hero" />
    </div>
    <div class="case-details">
      <dl>
        <div>
          <dt>Case Name</dt>
          <dd>{caseName}</dd>
        </div>
        <div>
          <dt>Category</dt>
          <dd class="category">{category}</dd>
        </div>
        <div>
          <dt>Date</dt>
          <dd class="date">{date}</dd>
        </div>
      </dl>
      <Button theme="yellow" buttonText={buttonLabel} />
    </div>
  </header>
  <div class="flow section">
  {
    caseStudy.sections.map((section) => (
      <div class="text flow">
        {caseStudy.sections[0] === section ? (
          <h2>{section.title}</h2>
        ) : (
          <h3>{section.title}</h3>
        )}

        {Array.isArray(section.content) ? (
          <>
            {section.content.map((item) => (
              <p>{item}</p>
            ))}
          </>
        ) : (
          <p>{section.content}</p>
        )}
        {section.highlights && (
          <ul class="flow">
            {section.highlights.map((highlight) => (
              <li>{highlight}</li>
            ))}
          </ul>
        )}
        {section.image && (
          <div class="image">
          <DynamicImage
            imagePath={section.image}
            altText={section.title}
            width={}
            height={}
          />
          </div>
        )}
      </div>
    ))
  }
  </div>
</article>

<style>
  @layer components {
    article {
      padding: 4rem 2rem;
    }

    header {
      display: grid;
      grid-template-rows: 1fr auto;
      grid-template-columns: 1fr 8fr 1fr;
    }

    .hero-img {
      display: block;
      width: 100%;
      grid-column: 1 / -1;
      grid-row: 1 / 3;
      border-radius: 25px;
      overflow: hidden;
    }

.section{
  margin-block-start: 4rlh;
}

    .text {
      max-width: 800px;
      margin-inline: auto;
      --flow-space: 2rlh;
      ul{
        --flow-space: 1rlh;
      }
      .image{
        --flow-space: 1rlh;
      }
      h2 {
        font-size: 48px;
      }
      h3 {
        font-size: 30px;
      }
      p{
        --flow-space: 1.2rlh;
        color: var(--color-neutrals-700);
        h2 + &, h3 + &{
          --flow-space: 0.8rlh;
        }
      }
      li{
        --flow-space: 0.5rlh;
        color: var(--color-neutrals-700);
      }
      &:last-of-type{
        --flow-space: 0.4rlh;
      }
    }    

    .case-details {
      background-color: var(--color-ui-primary);
      border-radius: 2rem;
      color: var(--color-on-ui-primary);
      display: grid;
      grid-template-columns: 3fr 1fr;
      padding: 2rem;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      align-self: end;
      margin-bottom: -4rem;

      dl {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      dt {
        font-family: cabin-med;
      }
    }
  }
</style>
